

body{
   background: linear-gradient(45deg,#0C0950,#161179);
}
.logo{
    width: 50px;
    height: 50px;
}

p{
   text-decoration: none;
   color: whitesmoke;
}
span{
    color: #261FB3;
}
.a{
    color: white;
}
.b{
    color: aqua;
}
.bt{
   background-color: aqua;
   width: 150px;
   height: 50px;
   border-radius: 16px;
   padding: 0;
   border: 0;
}
.bt a{
    text-decoration: none;
    color: white;
}
.icons{
    margin-top: 30px;
    display: flex;
    gap: 20px;
}
svg{
    color: aqua;
}
.c{
  margin-left: 600px;
  margin-top: 50px;
}
.d{
    color: aqua;
}
.hero2{
    margin-top: -200px;
}
.Our-event{
    width: 100%;
    height: 800px;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 200px;
   
}
.card{
  width:375px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(46, 46, 52, 0.2); 
  margin: 20px;

}

.card img{
    width: 100%;
    height: auto;
}
.card-content{
    background-color: #27263d;
}
.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
    color: cyan;
}
.card-content button{
    width: 225px;
    height: 40px;
    border-radius: 8px;
    margin-left: 25px;
    background-color: rgb(115, 196, 196);
    color: white;
}

.card-content p{
    color: whitesmoke;
    font-size: 15px;
    line-height: 1.3;
}
.card-content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
}
.z{
    color: whitesmoke;
    margin-bottom: 100px;
}

.hover-button {
    background-color: ;
    color: #1E5AFA;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
  }

  .hover-button:hover {
    background-color: white;
   
    /* Change color when hovered */
  }
.sp{
    display: flex;
    justify-content: space-between;
}




.foots{
    background-color: #031136;
    color: aliceblue;
    
}
.nav-item{
    color: aliceblue;
}
.foot li {
    color: white;
  }
  .foot a {
    color: white !important;
  }
  .foot h5 {
    color: white !important;
  }
  .ss{
    border-radius: 10px;
  }
  @media(max-width:700px) {
    .our-sponsers h1{
        margin-top: 300px !important;
    }
  }
  #preloader{
    background: #000 url(./images/Screenshot__1_-removebg-preview.png) no-repeat center center;
    height: 100vh;
    background-size: 15%;
    width: 100%;
    position: fixed;
    z-index: 100%;
  }
  .disapper{
    animation: vanish 2s forwards;
  }
  
  @keyframes vanish{
    100% {
        opacity: 0 ;
        visibility: hidden;
    }
  }